form {
    font-size: 1rem;
}

select {
    font-size: 34px;
}

i{
    color: #183153;
}

.btn{
    background: #1e4ea1 !important;
    border-bottom: 5px solid !important;
    border-bottom-color: #163C7C !important;
}

